.number-marker {
  // display: inline-block;
  min-width:  48px;
  height: 48px;
  border: none;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  color: $white;
  line-height: 48px;
  background-color: #0215b4;
  // margin-right: 30px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  // float: left;
  margin-right: 40px;
}
.items-list{
  list-style: none;
  li{
    background: #fff;
    color: $cyan;
    filter: drop-shadow(0px 4px 20px rgba(0, 26, 244, 0.04));
    padding: 30px;
    margin-bottom: 30px;
    // min-height: 112px;
    display: flex;
    align-items: center;
    img {
      max-width: 72px;
      margin-right: 40px;
    }
    p {
      overflow: hidden;
      margin-bottom: 0;
      color: $main-Lighter;
    }

  }
}

