// colors
.bg-liner {
  color: #ffffff;

  background: linear-gradient(293deg, #31fea0, #0c00ff 40%);

  background: -webkit-linear-gradient
    (to left, #31fea0, #001af4 20%, #001af4 30%);

  background: -o-linear-gradient (to left, #31fea0, #001af4 25%, #001af4 30%);

  background: -moz-linear-gradient (to left, #31fea0, #001af4 25%, #001af4 30%);

  background: linear-gradient (to left, #31fea0, #001af4 25%, #001af4 30%);
}
.bg-blue {
  background-color: $main-color;
}

// directione
.right {
  text-align: right;
}
.left{
  text-align: left;
}
.center {
  align-items: center;
}
.end{
  justify-content: end;
}

// Distances
.mb-60 {
  margin-bottom: 60px;
}
.mb-80 {
  margin-bottom: 80px;
}
.mb-40{
  margin-bottom: 40px;
}
.mb-100 {
  margin-bottom: 100px;
}
.mb-30{
  margin-bottom: 30px;
}

//nav-option
.navbar-dark {
  background-color: $main-color;

  .nav-link {
    color: $white !important;
  }
}

.navbar-light {
  background-color: $white;
  box-shadow: 0px 4px 20px rgba(0, 26, 244, 0.04) !important;


  

  .nav-item {
    .nav-link {
      color: $main-color;
    }
  }
  .social-links {
    li {
      a {
        i {
          color: $main-color !important;
         
        }
      
      }
    }
  }

  
}



