//primary-colors
$main-color: #001560;

//colors
$blue: #001af4;
$green: #00ffa0;
$cyan: #0bf6f6;
$white: #ffffff;
$black: #000000;


// light-colors
$main-light: #33437f;
$green-light: #33ffb3;
$blue-light: #3347f6;
$cyan-light: #3bf7f7;

// Lighter-colors
$main-Lighter: #99a1bf;
$green-Lighter: #99ffd9;
$blue-Lighter: #99a3fb;
$cyan-Lighter: #3bf7f7;

// Lightest-colors
$main-Lightest: #ccd0df;
$green-Lightest: #ccffec;
$blue-Lightest: #99a3fb;
$cyan-Lightest: #cefdfd;

//theLightest-colors

$main-theLightest: #eef2f4;
