#footer {
  background: #001560;

  .footer-top {
    padding-top: 100px;
  }
  .footer-content {
    padding: 85px 0;
  }
  h1 {
    font-size: 48px;
  }
  h5 {
    color: #ffffff;
  }
  .footer-links {
    a {
      color: $white;
    }
  }
}

.footer-top {
  // padding: 50px 0;
  color: #ffffff;
  position: relative;
  strong {
    color: $green;
  }
  .btn-main {
    position: absolute;
    right: 14px;
    top: 0px;
  }
}
.divider-line {
  background: #33437f;
  width: 100%;
  height: 2px;
}

.footer-about {
  p {
    color: $main-Lightest;
  }
}

.copyright {
  p {
    color: #ffffff;
    margin: 0;
    padding: 20px 0;
  }
}
.form-inline {
  p {
    font-size: 14px;
  }
}
